<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaholic.dims.dims.user.dao.UserDAO">
	
	<insert id="insert" parameterType="UserVO">
		INSERT INTO DIMS_USER(
								USER_ID,
								USER_PASSWORD,
								USER_TYPE_AS,
								USER_EMAIL,
								USER_AUTH_KEY
							 )
					VALUES   (
								#{userId},
								#{userPassword},
								#{userTypeAs},
								#{userEmail},
								#{userAuthKey}
							 )
	</insert>
	
	
	<select id="selectUserInfo" resultType="UserVO">
		SELECT U.USER_ID,
			   U.USER_PASSWORD,
			   U.USER_SEQ,
			   U.USER_NAME,
			   U.USER_TYPE_AS,
			   DATE_FORMAT(U.USER_INS_DATE,'%Y-%m-%d %I:%i:%s') USER_INS_DT,
			   U.USER_DEL_YN,
			   U.USER_EMAIL,
			   U.USER_PHONE,
			   U.USER_ADDRESS,
			   U.USER_PROFILE,
			   U.USER_GENDER_MW,
			   U.USER_GRADE,
			   U.USER_AUTH_YN,
			   U.USER_AUTH_KEY,
			   D.DPT_NAME
		  FROM DIMS_USER AS U
	 LEFT JOIN DIMS_DEPARTMENT D
		    ON U.DPT_SEQ = D.DPT_SEQ
		 WHERE 1 = 1
		   AND USER_ID = #{userId}
	</select>
	
	<update id="update" parameterType="UserVO">
		UPDATE DIMS_USER
		<set>
			<if test="userName != null">
			USER_NAME = #{userName},
			</if>
			<if test="userBirth != null">
			USER_BIRTH = #{userBirth},
			</if>
			<if test="userDelYn != null">
			USER_DEL_YN = #{userDelYn},
			</if>
			<if test="userPhone != null">
			USER_PHONE = #{userPhone},
			</if>
			<if test="userProfile != null">
			USER_PROFILE = #{userProfile},
			</if>
			<if test="dptSeq != 0">
			DPT_SEQ = #{dptSeq},
			</if>
			<if test="userGenderMw != null">
			USER_GENDER_MW = #{userGenderMw},
			</if>
			<if test="userGrade != 0">
			USER_GRADE = #{userGrade},
			</if>
			<if test="userAuthYn != null">
			USER_AUTH_YN = #{userAuthYn},
			</if>
			<if test="userAuthKey != null">
			USER_AUTH_KEY = #{userAuthKey},
			</if>
		</set>
		WHERE USER_SEQ = #{userSeq}
	</update>
	
</mapper>