<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaholic.dims.dims.user.dao.UserDAO">
	
	<insert id="insert" parameterType="UserVO">
		
	</insert>
	
	
	<select id="selectUserInfo" resultType="UserVO">
		SELECT U.USER_ID,
			   U.USER_PASSWORD,
			   U.USER_SEQ,
			   U.USER_NAME,
			   U.USER_TYPE_AS,
			   DATE_FORMAT(U.USER_INS_DATE,'%Y-%m-%d %I:%i:%s') USER_INS_DT,
			   U.USER_DEL_YN,
			   U.USER_EMAIL,
			   U.USER_PHONE,
			   U.USER_ADDRESS,
			   U.USER_PROFILE,
			   U.USER_GENDER_MW,
			   U.USER_GRADE,
			   D.DPT_NAME
		  FROM DIMS_USER AS U
	 LEFT JOIN DIMS_DEPARTMENT D
		    ON U.DPT_SEQ = D.DPT_SEQ
		 WHERE 1 = 1
		   AND USER_ID = #{userId}
	</select>
	
	
</mapper>